<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRails</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <%= react_component('App', name: 'Dezao da massa') %>
  </body>
</html>
